%div{class: 'container'}
  =flash[:success]
  %div{class: 'master_links'}
    #{link_to 'Back to Listing', blogs_path} | #{link_to 'Edit', edit_blog_path(@blog)} | #{link_to 'Destroy', blog_path(@blog), method: :delete, data: {confirm: 'Are you sure?'}}
  %h1{class: 'title'} #{@blog.headline}
  Category:&nbsp;&nbsp;#{@blog.blog_category.name}
  %hr
  =simple_format @blog.body
  %br
  %br
  %h1 Files
  = render partial: 'blog_files/blog_file', collection: @blog.blog_files
 

  =render 'blog_comments/js_form'
    
