=render 'layouts/success_message'
-present(@blog) do |blog_presenter|
  =content_for :head do
    %meta{name: 'description', content: @blog.headline}
  .page-header
    %h1 #{blog_presenter.headline}
    %p.lead
      by Lovell McIlwain
    #{blog_presenter.edit_link} | #{blog_presenter.delete_link}
  %p
    %span.glyphicon.glyphicon-time
    Posted on #{blog_presenter.short_created_at}
  .row
    .col-md-2
      %i.fa.fa-tags
      %span.data #{blog_tag_links(@blog)}
    .col-md-3
      %i.fa.fa-comments
      %span.data
      =blog_presenter.comments_count
    .col-md-3
      %i.fa.fa-files-o
      =blog_presenter.files_count
  -if @blog.blog_files.any?
    .row
      .col-md-12
        %h4 Attachments
        %ul.list-unstyled
          -@blog.blog_files.each do |file|
            %li #{link_to file.doc_file_name, '#'} - #{file.description}
  %hr/
  %p
    =blog_presenter.raw_body
  %hr/
  =render 'blog_comments/comment_form'
  %hr/
  #comments
    %h2
      %i.fa.fa-comments
      =blog_presenter.comments_count
  =render @blog.blog_comments
