=flash[:success]
%div{class: 'container'}
  %div{class: 'master_links'}
    #{link_to 'Back to Listing', blogs_path} | #{link_to 'Edit', edit_blog_path(@blog)}
  %h1{class: 'title'} #{@blog.headline} - #{@blog.blog_category.name}
  %hr
  =@blog.headline
  %br
  %br
  =simple_format @blog.body
  %br
  %br
  %div{class: 'listing'}
    %h1 Attachments
    -3.times do
      %div
        #{link_to Faker::Lorem.words(1).first, '#'} - #{Faker::Lorem.words(8).join("\s")}
  %br
  %br
  %div{class: 'comments_section'}
    %h1 Enter your comment
    %form
      %input{type: 'text', placeholder: 'Enter Your Name'}
      %textarea{rows: 5, placeholder: 'Enter Comment'}
      %br
      %div{class: 'actions'}
        %input{type: 'submit', value: 'Post'}
        =link_to 'Cancel', '#'
    %br
    %h1 Comments
    -8.times do
      %div{id: 'comments_listing'}
        #{Faker::Name.name} wrote on #{Date.today}:
        %br
        =Faker::Lorem.words(5).join("\s")
        %hr
    