-if flash[:success]
  .alert.alert-success
    =flash[:success]
%h1 Recent Posts  
.row.animated.fadeIn
  -if @blogs[3]
    .col-xs-6
      .panel.panel-info
        .panel-heading
          %h3.panel-title #{@blogs.last.headline}
        .panel-body
          %p.text-muted #{medium_date2 @blogs.last.created_at}, Lovell McIlwain
          %p
            =truncate(to_text(@blogs.last.body), length: 50) {link_to ' Read More', @blogs.last}
  -if @blogs[2]
    .col-xs-6
      .panel.panel-info
        .panel-heading
          %h3.panel-title #{@blogs[2].headline}
        .panel-body
          %p.text-muted #{medium_date2 @blogs[2].created_at}, Lovell McIlwain
          %p
            =truncate(to_text(@blogs[2].body), length: 50) {link_to ' Read More', @blogs[2]}
.row.animated.fadeIn
  -if @blogs[1]
    .col-xs-6
      .panel.panel-info
        .panel-heading
          %h3.panel-title #{@blogs[1].headline}
        .panel-body
          %p.text-muted #{medium_date2 @blogs[1].created_at}, Lovell McIlwain
          %p
            =truncate(to_text(@blogs[1].body), length: 50) {link_to ' Read More', @blogs[1]}
  -if @blogs[0]
    .col-xs-6
      .panel.panel-info
        .panel-heading
          %h3.panel-title #{@blogs.first.headline}
        .panel-body
          %p.text-muted #{medium_date2 @blogs.first.created_at}, Lovell McIlwain
          %p
            =truncate(to_text(@blogs.first.body), length: 50) {link_to ' Read More', @blogs.first}
          
.panel.panel-info.animated.fadeIn
  .panel-heading
    %h3.panel-title Projects
  .panel-body
    .row.text-center
      .col-xs-3
        =link_to fa_icon('github', text: 'Vellify Generator'), "https://github.com/vmcilwain/vellify-generator", target: :blank, title: 'My First Ruby on Rails Generator'
      .col-xs-3
        =link_to fa_icon('github', text: 'Simple Checklist'), "https://github.com/vmcilwain/checklist", target: :blank, title: 'Basic checklist application written in Rails'
        =link_to "[Live]", 'http://checklist-notes.herokuapp.com', target: :blank, title: 'See this application in action'
      .col-xs-3
        =link_to fa_icon('github', text: 'OWM'), "https://github.com/vmcilwain/openweathermap", target: :blank, title: 'A basic AngularJS application for retrieving weather from Open Weather Map'
        =link_to "[Live]", 'http://vell.x10host.com/openweathermap/', target: :blank, title: 'See this application in action'
      .col-xs-3
        =link_to fa_icon('github', text: 'Question Poser'), "https://github.com/vmcilwain/question_poser", target: :blank, title: 'A basic AngularJS application posting questions'
        =link_to "[Live]", 'http://vell.x10host.com/question_poser/', target: :blank, title: 'See this application in action'