%div{class: 'container'}
  %div{class: 'master_links'}
    =link_to 'Blog Listing', '#'
  %h1{class: 'title'} Blog Attachment Listing
  %div{class: 'search_form'}
    %h1 Search Blog Attachments
    %form
      %input{type: 'text', placeholder: 'Blog Headline'}
      %br
      %input{type: 'text', placeholder: 'Name'}
      %br
      %input{type: 'text', placeholder: 'Description'}
      %br
      %input{type: 'text', placeholder: 'Created On'}
      %br
      %div{class: 'actions'}
        %input{type: 'submit', value: 'Search'} #{link_to 'Cancel', '#', class: 'cancel_search_form_link'}
  =link_to 'Search Attachments', '#', class: 'search_form_link'
  %hr
  -5.times do
    %div{class: 'listing'}
      %h1 #{link_to Faker::Lorem.words(4).join("\s"), '#'}
      #{link_to Faker::Lorem.words(1).first, '#', title: 'view/download file'} - 
      %span{class: 'photo_description'}
        #{Faker::Lorem.paragraphs(1).first}
      %div{class: 'master_links'}
        #{link_to 'Edit', '#'} | #{link_to 'Destroy', '#'}