%div{class: 'container'}
  %div{class: 'master_links'}
    =link_to 'Back to Photos', '#'
  %h1{class: 'title'} #{Faker::Lorem.words(2).join("\s")}
  %hr
  / %div{class: 'float_left' }
  /   =image_tag('http://media.animevice.com/uploads/0/72/24116-mai_shiranui_6.jpg', width: '70%')
  / %div{class: 'float_right'}
  /   -10.times do
  /     %div
  /       On #{Date.today} #{Faker::Name.name} wrote:
  /       %br
  /       =Faker::Lorem.words(10).join("\s")
  /       %br
  /       %br
  / %div{class: 'clear'}
  =image_tag('http://media.animevice.com/uploads/0/72/24116-mai_shiranui_6.jpg', width: '70%')
  %div{class: 'comments_section'}
    %h1 Enter your comment
    %form
      %input{type: 'text', placeholder: 'Enter Your Name'}
      %textarea{rows: 5, placeholder: 'Enter Comment'}
      %br
      %div{class: 'actions'}
        %input{type: 'submit', value: 'Post'}
        =link_to 'Cancel', '#'
    %br
    %h1 Comments
    -10.times do
      %div
        On #{Date.today} #{Faker::Name.name} wrote:
        %br
        =Faker::Lorem.words(10).join("\s")
        %hr