-if @photo.errors.any?
  $("##{dom_id(@photo, :notification)}").html(#{@photo.errors.full_messages.join("<br />")})
-else
  $("##{dom_id(@photo, :notification)}").html('Photo updated');
  $("form##{dom_id(@photo, :edit)}").hide();
  $("div##{dom_id(@photo, :edit)}").show();
  $("div##{dom_id(@photo, :edit)}").html("#{@photo.description}");
  $("#edit_photo_#{@photo.id}_link").show();