%nav{class: "navbar navbar-default navbar-static-top"}
  .container
    .navbar-header
      %button{type: "button", class: "navbar-toggle collapsed", 'data-toggle' => "collapse", 'data-target' => "#navbar", 'aria-expanded' => "false", 'aria-controls' => "navbar"}
        %span.sr-only
          Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      =link_to 'Vell', root_path, class: 'navbar-brand'
    %div{id: "navbar", class: "navbar-collapse collapse"}
      %ul{class: "nav navbar-nav"}
        %li #{link_to :Home, root_path}
        %li #{link_to "About Me", about_home_index_path}
        %li #{link_to "Contact Me", new_contact_me_path}
        %li #{link_to :Blogs, blogs_path}
        %li #{link_to "Photo Albums", photo_albums_path}
      / %ul{class: "nav navbar-nav navbar-right"}
      /   %li #{link_to :Default, '../navbar/'}
      /   %li
      /     =link_to '#' do
      /       %span.sr-only
      /         (current)
      /   %li #{link_to 'Fixed Top', '../navbar-fixed-top/'}
