%nav{class: "navbar navbar-default navbar-static-top"}
  .container
    .navbar-header
      %button{type: "button", class: "navbar-toggle collapsed", 'data-toggle' => "collapse", 'data-target' => "#navbar", 'aria-expanded' => "false", 'aria-controls' => "navbar"}
        %span.sr-only
          Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      =link_to 'Vell', main_app.root_path, class: 'navbar-brand'
    %div{id: "navbar", class: "navbar-collapse collapse"}
      %ul{class: "nav navbar-nav"}
        %li #{link_to :Home, main_app.root_path}
        %li #{link_to "About Me", main_app.about_path}
        %li #{link_to "Contact Me", main_app.new_contact_me_path}
        %li #{link_to :Blogs, main_app.blogs_path}
        %li #{link_to "Photo Albums", main_app.photo_albums_path}
        -if current_user && current_user.has_role?('Administrator')
          %li #{link_to 'Blog Categories', main_app.blog_categories_path}
          %li #{link_to "Blog Comments", main_app.blog_comments_path}
          %li #{link_to "Photos", main_app.photos_path}
          %li #{link_to "Photo Comments", main_app.photo_comments_path}
      -if request.ssl?
        %ul{class: "nav navbar-nav navbar-right"}
          -if current_user
            %li #{current_user.full_name}  #{link_to 'Sign Out', authenticatable.sign_out_path, class: 'btn btn-danger'}
          -else
            %li #{link_to 'Sign In', authenticatable.sign_in_path, class: 'btn btn-default'}
