/ Header
#header
  .top
    / Logo
    #logo
      %span.image.avatar48
        =image_tag('vell-small.jpg')
      %h1#title Lovell McIlwain
      %p Web Application Developer
      %p I may not know it today, but you can be sure I will find out.
    / Nav
    %nav#nav
      %ul
        -#if user_signed_in?
          %li
            = link_to destroy_user_session_path, method: :delete, class: 'top-link skel-layers-ignoreHref' do
              %span.icon.fa-user Logout
        -#else
          %li
            = link_to new_user_session_path, class: 'top-link skel-layers-ignoreHref' do
              %span.icon.fa-user Login
        -if Rails.env.development?
          %li
            = link_to '/ui/index', class: 'top-link skel-layers-ignoreHref' do
              %span.icon.fa-file UI
        %li
          = link_to "#top", class: 'top-link skel-layers-ignoreHref' do
            %span.icon.fa-home Intro
        %li
          = link_to "#portfolio", class: 'top-link skel-layers-ignoreHref' do
            %span.icon.fa-th Portfolio
        -#%li
          = link_to blogs_path, class: 'top-link skel-layers-ignoreHref' do
            %span.icon.fa-file Articles
        %li
          = link_to "#about", class: 'top-link skel-layers-ignoreHref' do
            %span.icon.fa-user About Me
        %li
          = link_to "#contact", class: 'top-link skel-layers-ignoreHref' do
            %span.icon.fa-envelope Contact
        -if current_user && current_user.admin?
          %li
            = link_to blog_comments_path, class: 'top-link skel-layers-ignoreHref' do
              %span.icon.fa-list Article Comments
          %li
            = link_to blog_files_path, class: 'top-link skel-layers-ignoreHref' do
              %span.icon.fa-file Article Files
          %li
            = link_to contact_mes_path, class: 'top-link skel-layers-ignoreHref' do
              %span.icon.fa-envelope Contact Mes
  .bottom
    / Social Icons
    %ul.icons
      %li
        %a.icon.fa-twitter{:href => 'https://twitter.com/the_codemonster', target: :blank}
          %span.label Twitter
      %li
        %a.icon.fa-github{:href => 'https://www.github.com/vmcilwain', target: :blank}
          %span.label Github
      %li
        %a.icon.fa-envelope{:href => root_path(anchor: :contact)}
          %span.label Email
